<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/list.css">
<header>
    <main>
        <div class="logo">
            <a href="/">
                <span>iFode</span>
            </a>
        </div>
        <div class="tags">
            <a href="/tags/solteiras">
                <span>
                    solteira
                </span>
            </a>
            <a href="/tags/casadas">
                <span>
                    casada
                </span>
            </a>
            <a href="/tags/pornStars">
                <span>
                    pornStar
                </span>
            </a>
        </div>
        <div class="conta">
            <a href="/singin">
                <span class="button boder">
                    cadastrar
                </span>
            </a>
            <a href="/login">
                <span class="button ">
                    entra
                </span>
            </a>
        </div>
    </main>
</header>
<section class="busca">
    <main>
        <input type="text" id="busca" placeholder="Quem esta buscando?"><button id="bt-busca"><i class="fa-solid fa-magnifying-glass"></i></button>
    </main>
</section>
<section class="ifoders">
    <main>
       

    </main>
</section>
{{!-- conta --}}
<script>
let conta = {
        nome:"{{conta.nome}}",
        }
    if(conta.nome!=""){
        $("header div.conta ").html(`<h1>`+conta.nome+`</h1><i class="fa-solid fa-circle-user"></i>`);
    }
</script>
<script>
    
    //tag ativada
    let tagActive = {{tagActive}};
    let listSpan = $(`header div.tags span`);
    $(listSpan[tagActive]).css("border-bottom","2px solid red");
    $(listSpan[tagActive]).css("color","red");
    $(listSpan[tagActive]).css("scale","1.3");
    //propaganda    
    if(Math.floor(Math.random()*100) <= 40){
       $("body").append(`
        <div class="fosco">
            <iframe src="/videos/publi.mp4" frameborder="1"></iframe>
            <button><i class="fa-solid fa-x"></i></button>
        </div>
       `)
      $("div.fosco button").click(()=>{
        $("div.fosco").remove();
      })
    }else{
     $('iframe').remove();
     }
</script>
{{!-- busca --}}
<script>
    let type = "{{nameTag}}";
    let datas=[
    {{#each datas}}
    {
        nome:"{{nome}}",
        img:"{{img}}",
        cidade:"{{cidade}}"
    }
    {{/each}}
    ]
    for(data of datas){
        $("section.ifoders main").append(`
        <a href="/iFoder/`+type+`/`+data.nome+`">
            <div class="ifoder">   
                <div class="img">
                <img src="/img/`+data.img+`" alt="" srcset="">
                </div>
                <h1 class="name">`+data.nome+`</h1>
                <h1>`+data.cidade+`</h1>
            </div>
        </a>
        
        `)
    }
    $("button#bt-busca").click(()=>{
        for (data of datas){
            if(data.nome == $("input#busca").val()){
                $("input#busca").val(" ")
                $("section.ifoders main").html(`
                    <div class="ifoder">
                        <div class="img">
                            <img src="/img/`+data.img+`" alt="" srcset="">
                        </div>
                        <h1 class="name">"`+data.nome+`</h1>
                        <h1>`+cidade+`</h1>
                        
                    </div>
                `);
            }
        }
    })
    jQuery(document).on('keyup',function(evt) {
    if (evt.keyCode == 13) {
       if($("input#busca").is(":focus")){
           for (data of datas){
            if(data.nome == $("input#busca").val()){
                $("input#busca").val(" ")
                $("section.ifoders main").html(`
                    <div class="ifoder">
                        <div class="img">
                            <img src="/img/`+data.img+`" alt="" srcset="">
                        </div>
                        <h1 class="name">"`+data.nome+`</h1>
                        <h1>`+cidade+`</h1>
                        
                    </div>
                `);

            }
        }
        }
    }
});
    
</script>