<link rel="stylesheet" href="/css/perfil.css">
{{{header}}}

<section class="iFoder">
    <main>
        
        
    </main>
</section>

<script>
    let type = "{{nameTag}}"; 
    let conta = {
        nome:"{{conta.nome}}",
        }
    if(conta.nome!=""){
        $("header div.conta ").html(`<h1>`+conta.nome+`</h1><i class="fa-solid fa-circle-user"></i>`);
    }
$("section.iFoder main").html(`

    <div class="img">
        <img src="/img/{{perfil.img}}" alt="">
        </div>
        <div class="descrition">
            <div class="up">
                <h1>{{perfil.nome}}</h1>
                <p>{{perfil.descricao}}</p>
            </div>
            <div class="down" >
                <a href="/pagamento/`+type+`/{{perfil.nome}}">
                    <span>comprar serviço</span>
                </a>
            </div>
        </div>


`)
    
</script>